image-component
    display: inline-block
    overflow: hidden
    position: relative
    &.avatar
        width: var(--height-md)
        height: var(--height-md)

    &.avatar-sm
        width: var(--height-sm)
        height: var(--height-sm)

    [slot=loading], [slot=error]
        display: none
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        justify-content: center
        align-items: center